
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

<div class="row">
    <div class="col-sm-9">
        <div class="cartBox">
            <table class="cartTable">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Qty</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </td>
                        <td>image</td>
                        <td>productName</td>
                        <td>price</td>
                        <td>
                            <div class="qty-holder">
                                <a href="javascript:void(0)" class="table_qty_dec">-</a>
                                <input name="cart[19940][qty]" data-cart-item-id="f43" value="1" size="4" title="Qty" class="qty" maxlength="12" />
                                <a href="javascript:void(0)" class="table_qty_inc">+</a>
                            </div>
                        </td>
                        <td>subtotal</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="button" title="CONTINUE SHOPPING" class="button" id=""><span>CONTINUE SHOPPING</span></button>
                        </td>
                        <td></td>
                        <td colspan="3">
                            <button type="button" title="CLEAR SHOPPING CART" class="button" id="">
                                <span>CLEAR SHOPPING CART</span>
                            </button>
                            <button type="submit" title="UPDATE SHOPPING CART" class="button" id=""><span>UPDATE SHOPPING CART</span></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            <div>DISCOUNT CODES</div>
        </div>
        <div>
            <div>ESTIMATE SHIPPING AND TAX</div>
        </div>
        <div>
            <div>DISCOUNT CODES</div>
        </div>
    </div>
</div>